:root {
  --header-height: 2.5rem;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  border-style: none;
  padding: 0;
  cursor: pointer;
  background-color: unset;
}

body {
  margin: 0;
  font-family: sans-serif;
}




#signout_button {
  
}

header {
  display: flex;
  height: var(--header-height);
  align-items: center;
  color: #fff;
  background-color: #4d598b; /* #6b6b6b; */
}

header > h1 {
  font-size: 1rem;
}

header > button {
  padding: 0.35rem;
  border: 1px solid #6d759a;
  color: inherit;
}

#project_title {
  font-size: 1rem;
}

main {
  position: relative;
  height: calc(100vh - var(--header-height));
}

#projectsList {
  height: 100%;
  padding: 1rem;
  /* background-color: #c6d2dd; */
}

#projectsList > div:first-child {
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
}

#projectsList > div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
}

#add_new_proj_btn {
  padding: 0.5rem;
  border: 1px solid #cfcfcf;;
}

.projectItem {
  width: 30%;
}

.projectItem > img {
  width: 100%;
}

#authorize_dialog {
  justify-content: center;
    align-items: center;
  position: absolute;
  background-color: #dee7e5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#authorize_dialog > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 300px;
  padding: 1rem;
  background-color: #000;
}

#uploadProjectDialog {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#uploadProjectDialog > form {
  padding: 1rem;
  background-color: #c1ebe3;
}