:root {
  --header-height: 2.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  border-style: none;
  padding: 0;
  background-color: unset;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  color: #545454;
  font-family: 'Oswald', sans-serif;
}


/***************************** BUTTONS *****************************/

.buttonBase {
  padding: 0.4rem;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  font-family: inherit;
}

.buttonBase.sides {
  border-top-style: none;
  border-bottom-style: none;
}

.buttonBase.light {
  color: #373737;
  border-color: #cfcfcf;
}

.buttonBase.light:hover {
  background-color: #ececec;
}

.buttonBase.disabled {
  cursor: unset;
  color: #bdbcbc;
}

.buttonBase.disabled:hover {
  background-color: unset;
}

/* Square buttons with one icon */
.icon-btn {
  padding: 0.4rem;
  height: calc(var(--header-height) - 2px);
  width: calc(var(--header-height) - 2px);
  cursor: pointer;
}

.icon-btn:not(.disabled):hover {
  background-color: #ececec;
}

.icon-btn > svg {
  display: block;
  width: 24px;
  height: 24px;
}

.icon-btn.disabled {
  opacity: 0.1;
  cursor: auto;
}


/*************************** HEADER ********************************/

header {
  /* display: flex;  este actualmente se sobreescribe desde js */
  height: var(--header-height);
  padding-right: 6rem;
  align-items: stretch;
  z-index: 1;
  background-color: #f6f6f6;
  border-bottom: 2px solid #2a8fb1;
}

header > span:first-child {
  width: 4rem;
}

header > span:first-child > img {
  height: 100%;
  padding: 0.3rem;
  margin: auto;
  display: block;
}

header > h1 {
  position: absolute;
  right: 100%;
}

#projectsListBtn {
  min-width: 10rem;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

@media (max-width: 500px) {
  #projectsListBtn {
    display: unset;
    min-width: unset;
    width: 2.5rem;
    font-size: 0;
    border-left-style: none;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/projectsListIcon.svg);
    background-size: 24px;
  }
}

#toolbarsContainer {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

#drawingsBtns {
  min-width: 8rem;
  text-align: center;
}

#drawingsBtns > button {
  height: calc(var(--header-height) - 2px);
  width: 100%;
  border-left-style: none;
}

#drawingsBtns > ul {
  font-size: 0.9rem;
  font-weight: lighter;
  cursor: pointer;
  background-color:#f6f6f6;
  box-shadow: 0px 2px 5px #b6b6b6;
}

#drawingsBtns > ul > li {
  padding: 0.4rem;
}

#drawingsBtns > ul > li.active {
  background-color: #dfdfdf;
  cursor: auto;
}

#drawingsBtns > ul > li:hover {
  background-color: #dfdfdf;
}

/* Save and hamburger icon */
.global-nav-btns {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

@media (max-width: 500px) {
  header {
    order: 1;
    border-top: 2px solid #2a8fb1;
    border-bottom: unset;
  }

  header > span:first-child {
    display: none;
  }

  #toolbarsContainer {
    position: absolute;
    right: 0;
  }

  #drawingsBtns > ul {
    box-shadow: 0px -2px 7px #b6b6b6;
  }
}


/**************************** DROPDOWNS ****************************/

.dropdown-container {
  z-index: 1;
  position: relative;
}

.dropdown-container > .dropdown-content {
  display: flex;
  flex-direction: column;
  transition: 0.6s;
  transform: translateY(-100%);
  opacity: 0;
  z-index: -1;
  position: relative;
}

.dropdown-container.responsive > .dropdown-content {
  display: inline;
  opacity: unset;
  z-index: unset;
}

@media (max-width: 800px) {
  .dropdown-container.responsive > .dropdown-content {
    display: flex;
    opacity: 0;
    z-index: -1;
  }
}

.dropdown-container.open > .dropdown-content {
  transform: translateY(0%);
  opacity: 1;
}

@media (max-width: 500px) {
  .dropdown-container > .dropdown-content {
    transform: unset;
  }

  .dropdown-container.open > .dropdown-content {
    transform: translateY(calc(-100% - 2.5rem + 2px))
  }
}


/************************* MAIN CONTAINER **************************/

main {
  position: relative;
  height: calc(100vh - var(--header-height));
}


/************************** PROJECTS LIST **************************/

#projectsListContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #fff;
}

#projectsListContainer > div:first-child {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

@media (max-width: 500px) {
  #projectsListContainer {
    padding-top: 2.5rem;
  }

  #projectsListContainer > div:first-child {
    border-top: 1px solid #d3d3d3;
  }
}

#projectsListContainer > div:first-child > span {
  width: 20%;
}

#projectsListContainer > div:first-child > span:last-child {
  text-align: right;
}

#projectsListContainer > div:first-child > h4 {
  font-weight: normal;
  font-size: 1.6rem;
}

#projectsList {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  
  --items-h: 6; /* Read with JS */
  --item-width: calc((100% / var(--items-h)) - 1rem);
  --remaining-items: unset; /* Any value it is ok, it will be updated with JS */
}

/* Values read with JS */
@media (max-width: 1000px) {
  #projectsList {--items-h: 5;}
}

@media (max-width: 800px) {
  #projectsList {--items-h: 4;}
}

@media (max-width: 600px) {
  #projectsList {--items-h: 3;}
}

@media (max-width: 400px) {
  #projectsList {--items-h: 2;}
}

@media (max-width: 280px) {
  #projectsList {--items-h: 1;}
}

#projectsList::after {
  content: "";
  flex-grow: var(--remaining-items);
  width: calc((var(--item-width) + 1rem) * var(--remaining-items));
}

.projectItem {
  flex-grow: 1;
  width: var(--item-width);
  margin-bottom: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 2px 2px 7px #b2b2b2;
}

.projectItem.current {
  cursor: auto;
}

.projectItem.current > h4 {
  background-color: #bad9e6;
}

.projectItem.unsync {
  opacity: 0.5;
}

.projectItem:not(.current):hover {
  box-shadow: 2px 2px 7px #6b6b6b;
}

.projectItem > img,
.projectItem > svg {
  display: block;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.projectItem > h4 {
  padding: 0.6rem;
  font-weight: normal;
}

#loadMoreProjBtn {
  display: block;
  margin: auto;
}


/********************** MODAL DIALOGS GENERICS *********************/

#modalDialogContainer {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#modalDialogContainer.grayTranslucent {
  background-color: rgba(216, 216, 216, 0.8);
}

#modalDialogContainer.lightOpaque {
  background-color: #fff;
}


/*********************** AUTHORIZE DIALOG **************************/

#authorizeDialog {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#authorizeDialog > img {
  align-self: center;
}

#authorizeDialog > h2 {
  font-size: 1.6rem;
  text-align: center;
  font-weight: normal;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

#authorizeDialog > div:last-child {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: end;
}

#authorizeDialog > div:last-child > button {
  font-size: 1.2rem;
}

#authorizeDialog > div:last-child > button:nth-child(2) {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}


/************************* UPLOAD FILE FORM ************************/

#uploadFileForm {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: 1rem;
  background-color: #fff;
}

#uploadFileForm > input {
  font-family: inherit;
}

#uploadFileForm > label {
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
  font-size: 0.9rem;
}

#uploadFileForm > button:last-child {
  margin-top: 0.5rem;
}

#closeUploadForm {
  width: 1rem;
  align-self: flex-end;
}

#loadingFile {
  padding: 1rem;
  text-align: center;
}


/************************ MESSAGE CONTAINER ************************/

#messageContainer {
  position: absolute;
  padding: 1rem;
  max-width: 300px;
  flex-direction: column;
  align-items: flex-end;
  bottom: 2rem;
  right: 2rem;
  box-shadow: 2px 2px 6px #b2b2b2;
}

#messageContainer > button {
  margin-bottom: 0.5rem;
}

#messageContainer > button > img {
  width: 1rem;
}
  
#messageContainer.success {
  background-color: #aef5ad;
}


/************************ SIDENAV CONTAINER ************************/

#sideNavContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 314px;
  top: 0;
  right: 0;
  z-index: 999;
  transform: translateX(314px);
  background-color: #fff;
}

#sideNavContainer.active {
  transform: translateX(0);
}

.side-nav-header {
  height: var(--header-height);
}

.side-nav-actions {
  flex-grow: 1;
  padding: 1rem;
}

.side-nav-actions > button {
  width: 100%;
}

#sideNavToggle {
  width: 24px;
  height: 24px;
  margin: 0.4rem;
  cursor: pointer;
  border-style: none;
  background-image: url('assets/img/hamburgerIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

#sideNavToggle.active {
  background-image: url('assets/img/crossIcon.svg');
}

#sideNavContainer + .side-nav-shade {
  position: absolute;
  z-index: 10;
  background-color: #000;
  width: 100%;
  height: 100vh;
  top: 0;
  opacity: 0;
  left: 100%;
  transition: opacity .25s ease-out,left 0s linear .25s;
}

#sideNavContainer.active + .side-nav-shade {
  opacity: 0.7;
  left: 0;
  transition: opacity .25s ease-out,left 0s linear;
}

.side-nav-footer {
  padding: 1rem;
  font-weight: lighter;
}


/************************ DRAWING CONTAINER ************************/

#drawingsContainer {
  height: 100%;
}

#drawingsContainer > div {
  display: block;
  height: 100%;
}

#drawingsContainer > div > svg {
  display: block;
  height: 100%;
  width: 100%;
}


/********************** LOADING MESSAGE GENERICS *******************/

#viewportMessage {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: lighter;
  background-color: rgba(255, 255, 255, 0.95);
}

#viewportMessage p {
  padding-bottom: 1rem;
}

#viewportMessage.active {
  display: flex;
}


/***************************** SVG STATES **************************/

.selected ellipse,
.selected rect,
.selected path {
  fill: rgb(248, 191, 34);
}