:root {
  --header-height: 2.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  border-style: none;
  padding: 0;
  background-color: unset;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: #545454;
  font-family: 'Oswald', sans-serif;
}


/***************************** BUTTONS *****************************/

.buttonBase {
  padding: 0.4rem;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  font-family: inherit;
}

.buttonBase.sides {
  border-top: unset;
  border-bottom: unset;
}

.buttonBase.light {
  color: #373737;
  border-color: #cfcfcf;
}

.buttonBase.light:hover {
  background-color: #ececec;
}

.buttonBase.disabled {
  cursor: unset;
  color: #bdbcbc;
}

.buttonBase.disabled:hover {
  background-color: unset;
}


/*************************** HEADER ********************************/

header {
  /* display: flex;  este actualmente se sobreescribe desde js */
  height: var(--header-height);
  align-items: stretch;
  background-color: #f6f6f6;
  border-bottom: 2px solid #2a8fb1;
}

header > span:first-child {
  width: 4rem;
}

header > span:first-child > img {
  height: 100%;
  padding: 0.3rem;
  margin: auto;
  display: block;
}

header > h1 {
  position: absolute;
  right: 100%;
}

#projectsListBtn {
  font-size: 1rem;
  font-weight: normal;
}

.toolbars-container {
  flex-grow: 1;
}

/* TODO change name */
#drawingsBtns {
  position: absolute;
  top: 0;
}


/************************* MAIN CONTAINER **************************/

main {
  position: relative;
  height: calc(100vh - var(--header-height));
}


/************************** PROJECTS LIST **************************/

#projectsListContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #fff;
}

#projectsListContainer > div:first-child {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#projectsListContainer > div:first-child > span {
  width: 20%;
}

#projectsListContainer > div:first-child > span:last-child {
  text-align: right;
}

#projectsListContainer > div:first-child > h4 {
  font-weight: normal;
  font-size: 1.6rem;
}

#closeProjectsListBtn {
  width: 1.2rem;
}

#projectsList {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  
  --items-h: 6; /* Read with JS */
  --item-width: calc((100% / var(--items-h)) - 1rem);
  --remaining-items: 2; /* Updated with JS */
}

/* Values read with JS */
@media (max-width: 1000px) {
  #projectsList {--items-h: 5;}
}

@media (max-width: 800px) {
  #projectsList {--items-h: 4;}
}

@media (max-width: 600px) {
  #projectsList {--items-h: 3;}
}

@media (max-width: 400px) {
  #projectsList {--items-h: 2;}
}

@media (max-width: 280px) {
  #projectsList {--items-h: 1;}
}

#projectsList::after {
  content: "";
  flex-grow: var(--remaining-items);
  width: calc((var(--item-width) + 1rem) * var(--remaining-items));
}

.projectItem {
  flex-grow: 1;
  width: var(--item-width);
  margin-bottom: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 2px 2px 7px #b2b2b2;
}

.projectItem.current {
  background-color: #bad9e6;
}

.projectItem.unsync {
  opacity: 0.5;
}

.projectItem:hover {
  box-shadow: 2px 2px 7px #6b6b6b;
}

.projectItem > img,
.projectItem > svg {
  display: block;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.projectItem > h4 {
  padding: 0.6rem;
  font-weight: normal;
}

#loadMoreProjBtn {
  display: block;
  margin: auto;
}


/********************** MODAL DIALOGS GENERICS *********************/

#modalDialogContainer {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#modalDialogContainer.grayTranslucent {
  background-color: #d8d8d8d1;
}

#modalDialogContainer.lightOpaque {
  background-color: #fff;
}


/*********************** AUTHORIZE DIALOG **************************/

#authorizeDialog {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#authorizeDialog > img {
  margin: 0 auto;
}

#authorizeDialog > h2 {
  font-size: 1.6rem;
  text-align: center;
  font-weight: normal;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

#authorizeDialog > div:last-child {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: end;
}

#authorizeDialog > div:last-child > button {
  font-size: 1.2rem;
}

#authorizeDialog > div:last-child > button:nth-child(2) {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}


/************************* UPLOAD FILE FORM ************************/

#uploadFileForm {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: 1rem;
  background-color: #fff;
}

#uploadFileForm > input {
  font-family: inherit;
}

#uploadFileForm > label {
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
  font-size: 0.9rem;
}

#uploadFileForm > button:last-child {
  margin-top: 0.5rem;
}

#closeUploadForm {
  width: 1rem;
  align-self: flex-end;
}

#loadingFile {
  padding: 1rem;
  text-align: center;
}


/************************ MESSAGE CONTAINER ************************/

#messageContainer {
  position: absolute;
  padding: 1rem;
  max-width: 300px;
  flex-direction: column;
  align-items: flex-end;
  bottom: 2rem;
  right: 2rem;
  box-shadow: 2px 2px 6px #b2b2b2;
}

#messageContainer > button {
  margin-bottom: 0.5rem;
}

#messageContainer > button > img {
  width: 1rem;
}
  
#messageContainer.success {
  background-color: #aef5ad;
}


/************************ SIDENAV CONTAINER ************************/

#sideNavContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 314px;
  top: 0;
  right: 0;
  z-index: 999;
  transform: translateX(314px);
  background-color: #fff;
}

#sideNavContainer.active {
  transform: translateX(0);
}

.side-nav-header {
  height: var(--header-height);
}

.side-nav-actions {
  flex-grow: 1;
  padding: 1rem;
}

.side-nav-actions > button {
  width: 100%;
}

#sideNavToggle {
  width: 24px;
  margin: 0.4rem;
  z-index: 1000;
  border-style: none;
  background-image: url('assets/img/hamburgerIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

#sideNavToggle.active {
  background-image: url('assets/img/crossIcon.svg');
}

#sideNavContainer + .side-nav-shade {
  position: absolute;
  z-index: 10;
  background-color: #000;
  width: 100%;
  height: 100vh;
  top: 0;
  opacity: 0;
  left: 100%;
  transition: opacity .25s ease-out,left 0s linear .25s;
}

#sideNavContainer.active + .side-nav-shade {
  opacity: 0.7;
  left: 0;
  transition: opacity .25s ease-out,left 0s linear;
}

.side-nav-footer {
  padding: 1rem;
  font-weight: lighter;
}


/************************ DRAWING CONTAINER ************************/

#currentDrawingContainer {
  height: 100%;
}

#currentDrawingContainer > svg {
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;
}


/********************** LOADING MESSAGE GENERICS *******************/

#viewportMessage {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: lighter;
  background-color: #fffffff2;
}

#viewportMessage p {
  padding-bottom: 1rem;
}

#viewportMessage.active {
  display: flex;
}