/**************************** CONTEXT MENU *************************/

#contextMenu {
  width: 120px;
  position: absolute;
  padding-top: 0.5rem;
  background-color: #fff;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}

#contextMenu > ul > li {
  padding: 0.6rem;
  cursor: pointer;
}

#contextMenu > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}